;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;
_auth = your_npm_authorization_string
always-auth = false
email = asvetski@vmware.com
registry = http://build-artifactory.eng.vmware.com:80/artifactory/api/npm/npm
